In [ ]:
import mysql.connector
import pandas as pd

In [ ]:
# the functions to open connection and close connection with the database

In [ ]:
def open_con():
    db = mysql.connector.connect(
        host="195.201.104.116",
        user="eta14802_astrobeam",
        password="PGdAR{F[1C#~",
        database="eta14802_astrobeam"
    )
    mycursor = db.cursor()
    return db, mycursor

def close_con(db, mycursor):
    mycursor.close()
    db.close()

In [ ]:
# search_by_rest_frequency: Returns rows where rest_frequency is between min_freq (input) and max_freq (input).

In [ ]:
def search_by_rest_frequency(table, min_freq=None, max_freq=None):
    db, mycursor = open_con()

    query = f"SELECT * FROM {table} WHERE 1=1"
    params = []

    if min_freq is not None:
        query += " AND rest_frequency >= %s"
        params.append(min_freq)
    if max_freq is not None:
        query += " AND rest_frequency <= %s"
        params.append(max_freq)

    mycursor.execute(query, params)
    results = mycursor.fetchall()
    column_names = [desc[0] for desc in mycursor.description]

    final = pd.DataFrame(results, columns=column_names)
    close_con(db, mycursor)

    return final

In [ ]:
search_by_rest_frequency('gbt_observations', None, 1420.4059)

In [ ]:
# search_by_observation_date: Returns rows where observation_date is between start_date (input) and end_date (input).

In [ ]:
def search_by_observation_date(table, start_date=None, end_date=None):
    db, mycursor = open_con()

    query = f"SELECT * FROM {table} WHERE 1=1"
    params = []

    if start_date is not None:
        query += " AND observation_date >= %s"
        params.append(start_date)
    if end_date is not None:
        query += " AND observation_date <= %s"
        params.append(end_date)

    mycursor.execute(query, params)
    results = mycursor.fetchall()
    column_names = [desc[0] for desc in mycursor.description]

    final = pd.DataFrame(results, columns=column_names)
    close_con(db, mycursor)

    return final

In [ ]:
search_by_observation_date('gbt_observations', None, '2018-01-16')

In [ ]:
# search_by_integration_time: Returns rows where integration_time is between min_time (input) and max_time (input).

In [ ]:
def search_by_integration_time(table, min_time=None, max_time=None):
    db, mycursor = open_con()

    query = f"SELECT * FROM {table} WHERE 1=1"
    params = []

    if min_time is not None:
        query += " AND integration_time >= %s"
        params.append(min_time)
    if max_time is not None:
        query += " AND integration_time <= %s"
        params.append(max_time)

    mycursor.execute(query, params)
    results = mycursor.fetchall()
    column_names = [desc[0] for desc in mycursor.description]

    final = pd.DataFrame(results, columns=column_names)
    close_con(db, mycursor)

    return final

In [ ]:
search_by_integration_time('gbt_observations', 890, None)

In [ ]:
# search_by_ra_dec: Returns rows where ra_dec column exactly matches the combination of ra (input) and dec (input).

In [ ]:
def search_by_ra_dec(table, ra, dec):
    db, mycursor = open_con()

    full_coord = f"""{ra}{dec}"""

    query = f"""SELECT * FROM {table} WHERE ra_dec = %s"""

    mycursor.execute(query, (full_coord, ))
    results = mycursor.fetchall()
    column_names = [desc[0] for desc in mycursor.description]

    final = pd.DataFrame(results, columns=column_names)
    
    close_con(db, mycursor)

    return final

In [ ]:
search_by_ra_dec('gbt_observations', '08 54 44.6 ',' +57 28 49')

In [ ]:
# search_by_telescope_name: Returns rows where telescope_name contains the keyword (input) as a substring.

In [ ]:
def search_by_telescope_name(table, telescope):

    db, mycursor = open_con()

    query = f"""SELECT * FROM {table} WHERE telescope LIKE %s"""

    mycursor.execute(query, (f"%{telescope}%", ))
    results = mycursor.fetchall()

    column_names = [desc[0] for desc in mycursor.description]

    final = pd.DataFrame(results, columns=column_names)
    close_con(db, mycursor)

    return final

In [ ]:
search_by_telescope_name('gbt_observations', 'Robert')